# Entorno virtual
venv/

# Configuración
.env
*.log

# Archivos temporales
__pycache__/
*.pyc

# Claves
OCR_KEY.json
SHEETS_KEY.json
app-bristol-credentials.pem

#Imagenes
*.png
*.jpg
*.jpeg
.DS_Store


